body {
	background: #ffffff;
	padding-top: 60px;
	font-weight: 200;
	font-size:16px;
	font-family: 'Lato', sans-serif;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}

ul {
	padding-left: 15px;
}

h4 {
	margin-bottom: 0;
	font-weight: 300;
}

small {
	font-size: 14px;
	color: #777;
}

label {
	font-weight: 200;
}

pre {
	border: none;
	background: none;
	padding: 0;
}

.container {
	width: 1130px;
}

.form-group {
	margin-bottom: 0;
}

.info {
	background: #0086bf;
	padding: 10px;
}

.info h4,
.info ul li {
	color: #fff;
}

.info h4 {
	margin-bottom: 10px;
}

.donts { 
	
}

.donts h4,
.donts ul li {
	color: #fff;
}

.remarks {
	margin-top: 10px;
	padding-left: 0;
}

.emailrow {
	background: #fff;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	position:relative;
}

.date {
	padding: 10px;
	position:absolute;
	top: 2px;
	right: 10px;
	color: #aaa;
}

.green {
	position:absolute;
	right: 350px;
	top: 30px;
	font-size: 18px;
	transform: rotate(0deg);
}

.red {
	position:absolute;
	right: 275px;
	top: 30px;
	font-size: 18px;
	transform: rotate(0deg);
}

.yellow-highlight {
  text-shadow: 
    -13px 0 3px yellow,
     13px 0 3px yellow,
     16px 0 6px yellow,
    -16px 0 6px yellow;
}

.alert {
	padding: 8px 10px;
	margin-bottom: 10px;
	position:relative;
}

.alert-danger .word,
.alert-warning .word,
.alert-success .word,
.alert-info .word
 {
	display:inline-block;
	padding: 2px 8px;
	margin-right: 5px;
}

.subject { 
	padding-left: 10px;
	padding-bottom: 5px;
}

.preheader {
	margin-top: 10px;
	display:block;
	font-size: .95em;
}

.make {
	background: #0086bf;
	color:#fff;
	margin-top: 20px;
}

#sendLead { margin-top: 0; }

.btn-success {
	background-color: #009736;
	border-color:#009736;
	letter-spacing: 1;
}

@media all and (max-width: 768px) {
	body {
		padding-top: 0;
	}
	h2 { padding-left: 15px;padding-right:15px;font-size: 25px;}
	.container {
		width: 100%;
	}
	.subject { 
		padding-left: 15px;
		margin-bottom: 5px;
	}

	#sendLead { margin-top: 5px; }
	
	.red, .green { display:none;}
}
