@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://cdn2.hubspot.net/hubfs/2875937/Theme/fonts/Museo-Sans-Rounded-700/Museo-Sans-Rounded-700.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://cdn2.hubspot.net/hubfs/2875937/Theme/fonts/Museo-Sans-Rounded-700/Museo-Sans-Rounded-700.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://cdn2.hubspot.net/hubfs/2875937/Theme/fonts/Museo-Sans-Rounded-700/Museo-Sans-Rounded-700.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	background: #ffffff;
	padding-top: 0;
	font-weight: 200;
	font-size:16px;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: "Museo Sans Rounded";
	font-size:50px;
	margin-bottom: 60px;
}

h3 {
  font-family: "Museo Sans Rounded";
  font-size: 30px;
  font-weight: 300;
}

h4 {
	font-family: "Museo Sans Rounded";
	font-size:25px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}

ul {
	padding-left: 15px;
}

ul > li {
	margin-bottom: 4px;
}

h4 {
	margin-bottom: 0;
	font-weight: 300;
}

small {
	font-size: 14px;
	color: #777;
}

label {
	font-weight: 200;
}

pre {
	border: none;
	background: none;
	padding: 0;
}

.navbar {
	background-color: #FAFAFA;
	height:63px;
}

.navbar img {
	max-width: 100px;
}

.navbar .navbar-brand {
	padding-top: 18px;
}

.container {
	width: 1130px;
}

.container.content {
	padding-bottom: 100px;
}

.form-group {
	margin-bottom: 0;
}

.info {
	background: #0086bf;
	padding: 20px;
}

.info h4,
.info ul li {
	color: #fff;
}

.info h4 {
	margin-bottom: 20px;
}

.footer-text { 
	display:inline-block;
	color: #fff;
}

.donts h4,
.donts ul li {
	color: #fff;
}

.remarks {
	margin-top: 10px;
	padding-left: 0;
}

.emailrow {
	background: #fff;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	position:relative;
}

.emailrow-lg {
	padding-bottom: 40px;
}

.date {
	padding: 10px;
	position:absolute;
	top: 2px;
	right: 10px;
	color: #aaa;
}

.green {
	position:absolute;
	right: 485px;
	top: 30px;
	font-size: 18px;
	transform: rotate(0deg);
}

.red {
	position:absolute;
	right: 450px;
	top: 30px;
	font-size: 18px;
	transform: rotate(0deg);
}

.yellow-highlight {
  text-shadow: 
    -13px 0 3px yellow,
     13px 0 3px yellow,
     16px 0 6px yellow,
    -16px 0 6px yellow;
}

.btn-lg {
	padding: 15px 20px;
}

.alert {
	padding: 4px 10px;
	margin-bottom: 0;
	position:relative;
}

.alert-danger .word,
.alert-warning .word,
.alert-success .word,
.alert-info .word
 {
	display:inline-block;
	padding: 2px 8px;
	margin-right: 5px;
}

.analyzer-blue { color:#00a5ea;}
.analyzer-orange { color: #f4a200;}
.analyzer-green { color:#009736; }


.subject { 
	padding-left: 10px;
	padding-bottom: 5px;
	height:56px;
}

.preheader {
	margin-top: 10px;
	display:block;
	font-size: .95em;
}

.make {
	background: #0086bf;
	color:#fff;
	margin-top: 20px;
	padding: 20px;
}

#sendLead { margin-top: 0; }

.btn-success {
	background-color: #009736;
	border-color:#009736;
	letter-spacing: 1;
}

.toastr {
  position: fixed;
  bottom: 10px;
  padding: 15px 25px;
  border-radius: 4px;
  right:15px;
  background: #7db613;
  color:#fff;
  width: 320px;
}

/* SIGNUPBOX */

.cta {
  padding: 50px 0px 50px 0px;
  background-color: #0086bf;
  text-align:center;
}

.cta h3 {
  color:#fff;
}

.btn-info { background-color:#0086BF;border-color:#0086BF;}

.modal {
  display:block;
  width: 500px;
  margin: 6% auto;
}

#makemodal .col-sm-2:first-of-type {
  padding-left: 0;
}

#makemodal .col-sm-10 {
  padding-right: 0;
}

.btn-success-cta, .btn-success-cta:hover {
  background-color: #009736;
  border-color:#009736;
  letter-spacing: 1;
  padding: 13px 15px;
  font-size: 13px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  margin-top: 11px;
  color:#fff;
}

/* END SIGNUP */

@media all and (max-width: 1130px) {
  .container {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
	body { padding-top: 60px; }
	h1 { padding-left: 15px;padding-right:15px;font-size: 25px;}
	.container {
		width: 100%;
	}
	.subject { 
		padding-left: 15px;
		margin-bottom: 5px;
	}

	.footer-text { 
		display:block;
	}

	.footer .form-inline .form-control {
		width:33.3%;
		display:inline-block;
	}

	#sendLead { margin-top: 5px; }
	
	.red, .green { display:none;}
}
